
<div class="container">
  <header>
    <h1>Chat Application</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Username</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="chat-box" style="background: none;">
      <div class="chat-header">
        <h2>Chat Room</h2>
      </div>
      <div class="chat-messages"style="overflow-y:scroll;">
        <ul id="messages">

        </ul>
        <div class="chat-input">
          <form id="form">
            <input type="text" placeholder="Type your message..." id="input">
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script>

        var user ="";
        
        var socket = io();

        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function(e) {
          e.preventDefault();
          if (input.value) {
            socket.emit('chat message', {'msg':input.value,'user':user});
            input.value = '';
          }
        });

        socket.on('chat message', function(data) {
          var item = document.createElement('li');
          var span = document.createElement('span');
          
          span.classList.add('user');
          span.textContent = data.user;
          
          messages.appendChild(item);
          item.innerHTML = '<span class="user">'+data.user+': </span>'+data.msg;
          
        });

        socket.on('noty', function(msg){
          var item = document.createElement('li');
          item.textContent = msg;
          messages.appendChild(item);
        })


      </script>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Chat Application</p>
  </footer>
</div>


