
<div class="container">
  <header>
    <h1>Chat Application</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Username</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="chat-box" style="background: none;">
      <div class="chat-header">
        <h2>Chat Room</h2>
      </div>
      <div class="chat-messages">
        <ul id="messages">
          <li><span class="user">User 1:</span> Hello!</li>
          <li><span class="user">User 2:</span> Hi, how are you?</li>
          <li><span class="user">User 1:</span> I'm good, thanks for asking. How about you?</li>
          <li><span class="user">User 2:</span> I'm doing great, thanks!</li>
        </ul>
        <div class="chat-input" id="" >
          <form id="form">
            <input type="text" placeholder="Type your message..." id="input">
            <button type="submit">Send</button>
          </form>
        </div>
      </div>

      <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io();

        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function(e) {
          e.preventDefault();
          if (input.value) {
            socket.emit('chat message', input.value);
            input.value = '';
          }
        });

        socket.on('chat message', function(msg) {
          var item = document.createElement('li');
          item.textContent = msg;
          messages.appendChild(item);
          window.scrollTo(0, document.body.scrollHeight);
        });


      </script>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Chat Application</p>
  </footer>
</div>


